<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProyectoPuntoNet.Properties.Settings.DB_Proyecto_ParcialConnectionString"
            connectionString="Data Source=david002.com;Initial Catalog=DB_Proyecto_Parcial;Persist Security Info=True;User ID=SA"
            providerName="System.Data.SqlClient" />
        <add name="ProyectoPuntoNet.Properties.Settings.PRUEBAConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=PRUEBA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProyectoPuntoNet.Properties.Settings.PROJECT_DB" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DB_Proyecto_Parcial;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>